# Various data
*.xml
*.iml
tkinter_version/RIMSSchemeDrawer_RT.command
*.pyc
div
div/*

# PyCharm
.idea

# Python virtual environments
venv
venv/*
.python-version

# fbs compiled data
target
target/*

# ST3
*.sublime-project
*.sublime-workspace

# testing
.hypothesis

#PyCharm
.idea
